body{
}

.navButton{
    
}

.navButton a{
    position: fixed;
    right:-80px;
    width: 100px;
    text-decoration: none;
    display: block;
    padding: 20px 10px;
    transition: 0.3s;
    text-align:center;
    border-radius: 15px 0px 0px 15px;
    color: white;
}

.navButton a:hover{
    right:0px;
}


#About{
    bottom: 20px;
    background-color: #4CAF50;
}

#Help{
    bottom: 80px;
    background-color: #2196F3;
}